sseclient-py~=1.7
requests~=2.28
setuptools~=65.5
urllib3~=1.26
# th2-grpc-common==3.11.1
th2-grpc-data-provider==1.1.0  # Req th2_grpc_common==3.4.0
treelib==1.6.1
# grpcio~=1.50
# grpcio-tools~=1.50
types-protobuf==3.19.22
importlib_metadata~=5.0
orjson~=3.8