name: CI tests

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install importlib importlib-metadata
          pip install pytest
      - name: Test with pytest
        run: |
          bash run_unit_tests.sh
