name: Dev build and publish Python distributions to PyPI

on: push

jobs:
  build-n-publish:
    name: Dev build and Python distributions to PyPI
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # Prepare custom build version
      - name: Get package version
        id: pack_ver
        uses: notiz-dev/github-action-json-property@release
        with:
          path: package_info.json
          prop_path: package_version
      - name: Get name branch
        id: name_branch
        run: |
          branch = $(echo ${{ github.ref }} | sed 's/\/refs\/heads\///')
          echo "::set-output name=value::branch::$branch"
      - name: Build custom package version
        id: release_ver
        run: echo ::set-output name=value::"${{ steps.pack_ver.outputs.prop }}.${{ steps.name_branch.outputs.value }}${{ github.run_id }}"
      - name: Show package version
        run: echo ${{ steps.release_ver.outputs.value }}
      - name: Set version for current build in package_info.json
        uses: MerthinTechnologies/edit-json-action@v1
        with:
          filename: './package_info.json'
          key: 'package_version'
          value: ${{ steps.release_ver.outputs.value }}
      # Build and publish
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          pip install pytest
          pytest -k "not test_data_source_local and not test_data_local"
      - name: Build package
        run: |
          python setup.py sdist
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
          repository_url: https://upload.pypi.org/legacy/
